<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gra o Tron.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>535B0A041D464C5100CA0D91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>535B0A201D464C5200CA0D91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>535B0A2B1D464C5200CA0D91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
